/* navbar */
.navbarDropdown {
  background-color: #f0feff;
  margin: 15px 0px 5px 0px;
}

.dropDownLogo {
  margin: 20px 0px 5px 0px;
}

.navbarContainer {
  padding: 13px 0px 0px 10px;
}

.navbarContainerTeam {
  padding: 13px 0px 0px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbarContainer .MuiGrid-container {
  align-items: center;
  margin-top: 15px;
}

.imgDiv3 {
  overflow: hidden;
  height: 486px;
}

.imgDiv3 img {
  position: relative;
  left: -50%;
  height: 100%;
}

/* Nav Backgrounds */

/* Home */
.navBackgroundHomeCollapsed {
  background-image: url(./images/1.jpg);
  background-position-x: center;
  background-size: 180%;
  background-repeat: no-repeat;
  background-color: #73d3e1;
  background-position-y: 35px;
  height: 557px;
  display: flex;
  flex-direction: column;
}

.navBackgroundHomeExpanded {
  background-image: url(./images/1.jpg);
  background-position-x: center;
  background-size: 180%;
  background-repeat: no-repeat;
  background-color: #73d3e1;
  background-position-y: -40px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* Team */
.navBackgroundTeamCollapsed {
  background-image: url(./images/4.jpg);
  background-position-x: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-color: #73d3e1;
  background-position-y: -40px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.navBackgroundTeamExpanded {
  background-image: url(./images/4.jpg);
  background-position-x: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #73d3e1;
  background-position-y: -110px;
  height: 390px;
  display: flex;
  flex-direction: column;
}

/* Testamonials */
.navBackgroundTestamonialsCollapsed {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.navBackgroundTestamonialsExpanded {
  background-color: white;
}

/* 2 word with half bold; half not */
.bold {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.logo1 {
  margin: 0px 20px 0px 20px;
}

.tagLine {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  margin-top: 7px;
  padding-bottom: 20px;
}
/* /testamonials */

.testamonialContentContainer {
  margin: 00px 40px 00px 40px;
  padding: 25px 0px 25px 0px;
}

.testamonialReview {
  margin: 5px 0px 0px 0px;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 158%;
  text-align: justify;
}

.testamonialIconBlue {
  font-size: 18px;
  font-weight: 900;
  color: #81d8d0;
}

.testamonialIconPink {
  font-size: 18px;
  font-weight: 900;
  color: #c8a2c8;
}

.testamonialIconPurple {
  font-size: 18px;
  font-weight: 900;
  color: #9da8cd;
}

.testamonialName {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  margin-bottom: 4px;
}
.testamonialTitle {
  margin-left: 17px;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Arial;
}

.footerBackground {
  background-image: url(./images//9.jpg);
  alt: waterfall;
  width: 100%;
  height: 557px;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.footerContent {
  margin-top: auto;
}

.imgDiv1 {
  margin: 15px 0px 10px 0px;
  overflow: hidden;
  max-height: 252px;
}

.imgDiv2 {
  margin: 15px 0px 10px 0px;
  overflow: hidden;
  max-height: 380px;
}

.hrTestamonials {
  border-width: 0px;
  height: 3px;
  background-color: #989898;
}

/* /team  */
.test {
  background-image: url(./images//9.jpg);
}

.hrTeam {
  margin: 0px 28px 18px 28px;
  border-width: 0px;
  height: 1px;
  background-color: #ffffff;
}
